
/* 公共样式 */
.container{
    width:1226px;
    margin: 0 auto;
}
.header{
    position: relative;
}
#header_wrap{
    background: #fff;
    border-bottom: 1px solid #ccc;
}
#header_wrap .nav_ul_bigbox{
    position: absolute;
    border-bottom: 1px solid #ccc;
    top:100px;
}
#header_wrap .nav_ul_box{
    top: 0;
    display: block;
}
.site_nav{
    background: #fff;
    border: 1px solid #ff7600;
    top:100px;
    left: 0;
    display: none;
    z-index: 1;
    background: #fff;
    opacity: 1;
    
}
.nav_na{
    top: 100px;
}

.all-goods{
    cursor: pointer;
}
.all-goods:hover{
    color: #ff7600;
}
/* banner图 */
#ban-wrap{
    width: 100%;
    height: 620px;
    overflow: hidden;
}
.ban{
    height: 620px;
    text-align: center;
    position: relative;
}
.ban-img1,.ban-img2{
    display: block;
    height: 100%;
}
.ban-img1{
    display: none;
}
.ban img{
    height: 100%;  
    position: absolute;
    left: -50%;
    top: 0;
    margin-left: -50px;
}
.prev{
    width: 41px;
    height: 69px;
    position: absolute;
    top: 310px;
    left: 0;
    margin-top: -35px;
    background: url(../images/icon-slides.png) no-repeat -84px 50%;   
}
.prev:hover{
    background: url(../images/icon-slides.png) no-repeat 0px 50%;
}
.next{
    width: 41px;
    height: 69px;
    position: absolute;
    top: 310px;
    right: 0;
    margin-top: -35px;
    background: url(../images/icon-slides.png) no-repeat -125px 50%;
}
.next:hover{
    background: url(../images/icon-slides.png) no-repeat -41px 50%;
}
.item-ul{
    height: 10px;
    position: absolute;
    bottom: 20px; 
    left: 50%;
    text-align: center;
    margin-left: 20px;
}
.item1,.item2{
    float: left;
}
.item-ul .item1 a{
    background: rgba(255, 255, 255, 0.4);  
}
.item-ul a{
    margin-left:10px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
    border:3px solid;
    border-color: rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
}
/* 小米8青春版 */
#mi8-wrap{
    height: 498px;
    background: #f5f5f5;
}
.mi8{
    position: relative;
    height: 100%;
    background: #fff;

}
.pro{
    line-height: 64px;
    margin: 0;
    padding-top: 4px;
    color: #333;
    font-size: 24px;
    font-weight: normal;
    background: #f5f5f5;
}
.wrap{
    width: 100%;
    height: 434px;
    position: absolute;
    top: 64px;
    cursor: pointer;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.mi8-img{
    width: 854px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0px;
}
.mi8-img img{
    width: 854px;
    height: 434px;
}
.mi8-xx{
    height: 340px;
    background: #fff;
    position: absolute;
    left: 916px;
    top: 64px;
    bottom: 0;
    width: 270px;
}
.xx-title{
    color: rgba(51,51,51,0.9);
    font-size: 32px;
}
.xx-desc{
    width: 270px;
    line-height: 22px;
    min-height: 44px;
    margin: 4px 0 0;
    color: rgba(51,51,51,0.7);
    font-size: 14px;
}
.xx-price{
    line-height: 45px;
    margin: 17px 0 0;
    color: #ff6700;
    font-size: 32px;
    font-weight: bold;
}
.xx-price span{
    font-size: 12px;
    line-height: 45px;
}
.xx-price s{
    font-size: 12px;
    line-height: 45px;
    color: rgba(51,51,51,0.6);
    margin-left: 18px;
}
.link{
    position: absolute;
    left: 0;
    bottom: 62px;
    margin: 0;
}
.k{
     width: 100%;
     height: 14px;
     background: #f5f5f5;
 }
#row-wrap{
    background: #f5f5f5;
}
.row{
    height: 482px;
    position: relative;
    background: #f5f5f5;
}
.row-left,.row-right{
    width: 606px;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
}
.row-left img,.row-right img{
    width: 606px;
    height: 358px;
}
.row-left{
    left: 0;
    cursor: pointer;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.row-right{
    left:606px;
    margin-left: 14px;
    cursor: pointer;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.l-bt,.r-bt{
    position: relative;    
}
.l-h3{
    font-size: 24px;
    line-height: 26px;
    margin: 38px 0 0 48px;
}
.l-desc{
    line-height: 18px;
    margin: 3px 0 0 48px;
    color: rgba(51,51,51,0.7);
    font-size: 14px;
}
.l-price{
    position: absolute;
    right: 48px;
    top: 18px;
    margin: 0;line-height: 30px;
    color: #ff6700;
    font-size: 12px;
}
.l-price strong{
    font-size: 30px;
}
.l-price s{
    color: rgba(51,51,51,0.6);  
    line-height: 30px;
    font-weight: 900;
}

.row-left:hover {
    z-index: 2;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
                      transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}
.row-right:hover {
    z-index: 2;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
                      transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}
.wrap:hover{
    z-index: 2;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
                      transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}