#site-header{
    height: 100px;
    background: #fff;
    border-bottom: 2px solid #ff7600;
    padding-top: 26px;
    box-sizing: border-box;
}
.header-logo{
    width: 93px;
    height: 48px;
    text-align: left;
    float: left;
}
.logo{
    display: block;
    width: 48px;
    height: 48px;
}
.ir{
    background:#ff7600 url(../images/logo_03.jpg) no-repeat center;
    text-indent: -9999px;
}
.ir:hover{
    background:#ff7600 url(../images/mi-home.png) no-repeat center;
}
.site-title{
    float: left;
    overflow: hidden;
}
.title-gwc{
    float: left;
    line-height: 48px;
    font-size: 28px;
    color: #424242;
}
.title-p{
    float: left;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    color: #757575;
}
.site-info{
    float: right;
    height: 40px;
    position: relative;
}
.myID{
    display: block;
    width: 90px;
    line-height: 40px;
    cursor: pointer;
    color: #757575;
    float: left;
}
.myID:hover,.order:hover{
    color: #ff7600;
}
.myID b{
    font-size: 12px;
    float: left;
}
.myID i{
    margin-left: 10px;
    margin-top: -10px;
    font-weight: 900;
}
.myID span{
    float: right;
    margin-right: 5px;
    color: #eee;
}
.order{
    float: left;
    line-height: 40px;
    font-size: 12px;
    color: #757575;
}
/* 隐藏下拉菜单样式 */
.id-menu{
    width: 120px;
    position: absolute;
    top: 40px;
    left: -30px;
    padding: 7px 0;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    display: none;
}
.id-item{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
/* 主体 */
#page-main{
    padding:38px 0;
    background: #f5f5f5;    
}
.cart-empty{
    height: 273px;
    color: #b0b0b0;
    overflow: hidden;
    margin:65px 0 130px 0;
    padding-left: 558px;
    background: url(../images/cart-empty.png) no-repeat 124px top;
}
.empty-h2{
    color: #b0b0b0;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 0;
    font-weight: 900;
}
.login-desc{
    margin-bottom: 20px;
    font-size: 20px;
    color: #b0b0b0;
}
.btn-login{
    margin-right: 10px;
    width: 170px;
    height: 48px;
    line-height: 48px;
    background: #ff6700;
    color: #fff;
    border: 1px solid #ff7600;
    font-size: 14px;
    cursor: pointer;
}
.btn-shopping{
    width: 170px;
    height: 48px;
    line-height: 48px;
    background-color: #f5f5f5;
    color: #ff6700;
    border: 1px solid #ff6700;
    font-size: 14px;
    cursor: pointer;
}
/* 为您推荐 */
#cart-recommend{
    overflow: hidden;
    position: relative;
}
.recommend{
    position: relative;
    height: 50px;
    font-size: 30px;
    font-weight: 400;
    color: #757575;
    border-top: 1px solid #e0e0e0;
    -webkit-font-smoothing: antialiased;
}
.recommend span{
    position: absolute;
    top: -20px;
    left: 372px;
    height: 40px;
    width: 482px;
    line-height: 40px;
    text-align: center;
    display: block;
    background-color: #f5f5f5;
}
.xm-recommend{
    overflow: hidden;
}
.recommend-row{
    margin-left: -14px;
}
.recommend-list{
    width: 234px;
    height: 300px;
    background-color: #fff;
    text-align: center;
    position: relative;
    float: left;
    margin-bottom: 14px;
    margin-left: 14px;
}
.recommend-list dl{
    padding: 0 20px;
    margin-bottom: 0;
}
.recommend-list dt{
    padding: 40px 0 15px;
    height: 145px;
}
.recommend-list dl dt a{
    display: block;
}
.recommend-list dt img{
    width: 140px;
    height: 140px;
}
/* .recommend-list dd{
    margin-left: 40px;
} */
.list-name{
    margin-bottom: 10px;
    height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.list-name a{
    color: #333;    
}
.list-price{
    margin-bottom: 10px;
    color: #ff6700;
}
.list-tips{
    position: relative;
    color: #757575;
}
.btn-samll{
    position: absolute;
    width: 120px;    
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    left: 37px;
    top: 0;
    border: 1px solid #ff7600;
    background: #fff;
    color: #ff6700;
    cursor: pointer;
    display: none;
}
.recommend-list:hover .btn-samll{
    display:block;
}
.btn-samll:hover{
    background: #ff7600;
    color:#fff;
}