#nav_ul_wrapper {
	width: 100%;
	background: #fff;
	position: absolute;
	z-index: 1;
	height: 0;
}

#top_wrapper {
	width: 100%;
	height: 40px;
	background: #333333;
	overflow: hidden;
}

.review-item {
	position: relative;
	float: left;
	width: 296px;
	height: 415px;
	margin-left: 14px;
	margin-bottom: 14px;
	background: #fff;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

.review-item:hover {
	z-index: 2;
	-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
	transform: translate3d(0, -2px, 0);
	transform: translate3d(0, -2px, 0);
}

.review-wrapper {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 3;
	width: 234px;
	height: 76px;
	overflow: hidden;
	_zoom: 1;
	font-size: 12px;	
	font-size: 14px;
	display: none;
}
@keyframes span2 {
		0% {
			height: 0;
			background: #ff6700;
		}
		100% {
			height: 76px;
			background: #ff6700;
		}
	}

.review-item:hover .review-wrapper {
	animation: span2 .2s linear;
	background: #ff6700;
	display: block;
	text-align: left;
}
.review-wrapper a{
	padding: 8px 0 30px 30px;
	box-sizing: border-box;
}
.review {
	margin-bottom: 5px;
	font-size: 12px;
	color: #fff;
}

.author {

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 12px;
	_zoom: 1;
}

.top {
	height: 40px;
	background: #333333;
}

.top ul li {
	height: 50px;
	float: left;
}

.top span {
	line-height: 40px;
}

.top a {
	display: inline-block;
	color: #b09584;
	font-size: 12px;
	margin: 0 6px;
}

.top a:hover {
	color: #FFFFFF;
}

.top ul:nth-of-type(2) {
	float: right;
}

#header_wrapper {
	height: 100px;
	width: 100%;
	background: #FFFFFF;
}

.header {
	height: 100px;
	background: #FFFFFF;
	position: relative;
}

.header h1 {
	margin-top: 22px;
	height: 55px;
	width: 234px;
	float: left;
}

.header h1 a {
	text-indent: -9999px;
	display: block;
	height: 55px;
	width: 55px;
	background: url(../images/logo_03.jpg)no-repeat;
}

.nav {
	float: left;
}

.nav a {
	float: left;
	line-height: 100px;
	font-size: 16px;
	color: #333;
	display: block;
	margin: 0 10px;
}

.nav a:hover {
	color: red;
}
/*#nav_ulwrap{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	overflow: hidden;
	height: 0px;
	border-bottom: none;
	z-index: 1;
}*/

.nav_ul_bigbox {
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	height: 0px;
	border-bottom: none;
	z-index: 1;
}

.nav_ul_box {
	padding: 34px 0;
	position: absolute;
	height: 231px;
	top: 0px;
	left: 0px;
	background: #FFFFFF;
	width: 9999px;
	box-sizing: border-box;
	/*	box-shadow:0 0 100px 0 #eee;*/
}

.nav_ul_box ul {
	width: 1226px;
	float: left;
}

.nav_ul_box ul li {
	float: left;
	text-align: center;
}

.nav_ul_box li img {
	margin-bottom: 14px;
	height: 108px;
	width: 204px;
	border-right: 1px solid #eee;
}

.nav_ul_box li:nth-of-type(5) img {
	border-right: none;
}

.nav_ul_box li p:nth-of-type(1) {
	font-size: 12px;
	height: 20px;
	line-height: 20px;
}

.nav_ul_box li p:nth-of-type(2) {
	color: red;
	font-size: 12px;
	height: 12px;
	line-height: 12px;
}

.search {
	margin-top: 25px;
	width: 294px;
	height: 48px;
	float: right;
	border: 1px solid #e0e0e0;
	position: relative;
}

.box2 {
	width: 294px;
	position: absolute;
	top: 76px;
	right: 0;
	z-index: 3;
}

.box2 li {
	font-size: 12px;
	width: 294px;
	height: 16px;
	line-height: 16px;
	background: #F3F3F4;
	color: #101112;
}

.box2 li:hover {
	background: #ff6700;
}

.search input {
	width: 243px;
	height: 48px;
	border: none;
	border-right: 1px solid #e0e0e0;
}

.search_ul {
	display: block;
	position: absolute;
	top: 15px;
	right: 60px;
}

.search_ul li {
	margin: 0 2px;
	float: left;
}

.search_ul li span {
	height: 18px;
	font-size: 12px;
	padding: 0 5px;
	color: #757575;
	background: #eee;
}

.search_ul li span:hover {
	background: #ff6700;
}

.search button {
	height: 48px;
	width: 50px;
	border: none;
	background: #FFFFFF;
	position: absolute;
	top: 0;
	right: 0;
}

#site_wrapper {
	height: 474px;
	width: 100%;
	background: #fff;
}

.site {
	position: relative;
	height: 474px;
	background: #fff;
}

.site_nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 460px;
	width: 234px;
	background: #000;
	opacity: 0.7;
	padding: 20px 0;
	box-sizing: border-box;
}

.site_nav ul li {
	padding: 0 30px;
	font-size: 14px;
	height: 42px;
	line-height: 42px;
}

.site_nav ul li:hover {
	opacity: 1;
	background: #ff6702;
}

.site_nav ul li a {
	float: left;
}

.site_nav ul li span {
	float: right;
}

.nav_na {
	position: absolute;
	top: 0;
	left: 234px;
	height: 460px;
	width: 994px;
	overflow: hidden;
	display: none;
	z-index: 1;
}

.nav_na_img {
	position: absolute;
	top: 0;
	left: 0;
	height: 9999px;
}

.nav_nav_img_ul {
	padding-left: 20px;
	width: 248px;
	height: 460px;
	background: #FFFFFF;
	float: left;
	box-sizing: border-box;
}

.nav_nav_img_ul_li {
	height: 40px;
	line-height: 40px;
	margin: 30px 0px;
}

.nav_nav_img_ul_li a {
	display: block;
	float: left;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
}

.nav_nav_img_ul_li a:hover {
	color: red;
}

.nav_nav_img_ul_li img {
	float: left;
	margin-right: 14px;
	height: 40px;
	width: 40px;
}

.nav_na ul li {
	height: 460px;
	width: 994px;
}

.banner {
	position: relative;
	width: 1226px;
	height: 474px;
	margin: 0 auto;
	overflow: hidden;
	opacity: 1;
}

.banner-inner {
	position: absolute;
	left: 0;
	top: 0;
	width: 9999px;
	height: 474px;
}

.banner-inner li {
	float: left;
}

.banner-tip {
	position: absolute;
	bottom: 24px;
	right: 36px;
}

.banner-tip li {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #878787;
	border-radius: 50%;
	cursor: pointer;
	opacity: 0.4;
}

.banner-tip li.active {
	opacity: 1;
}

.left-btn,
.right-btn {
	display: block;
	padding-top: 20px;
	text-align: center;
	position: absolute;
	font-size: 24px;
	top: 50%;
	margin-top: -23px;
	width: 40px;
	height: 50px;
	opacity: 0.5;
	background: none;
}

.left-btn {
	left: 234px;
}

.right-btn {
	right: 0px;
	background-position: -45px, 0;
}

.banner-inner img {
	width: 1226px;
}

#home_hero_subrow_wrapper {
	height: 195px;
	width: 100%;
}

.home_hero_subrow {
	height: 195px;
}

.home_hero_ul li {
	height: 170px;
	width: 316px;
	margin-left: 14px;
	float: left;
}

.home_hero_ul li img {
	height: 170px;
	width: 316px;
}

.home_hero_ul li:nth-of-type(1) {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 170px;
	width: 234px;
	background: #5f5750;
	margin-left: 0px;
}

.home_hero_li1 a {
	display: block;
	display: flex;
	height: 85px;
	width: 80px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.home_hero_li1 a:nth-of-type(2) {
	width: 76px;
	height: 85px;
}

.home_hero_li1 a:nth-of-type(5) {
	width: 76px;
	height: 85px;
}

.home_hero_li1 a:nth-of-type(3) {
	width: 78px;
	height: 85px;
}

.home_hero_li1 a:nth-of-type(6) {
	width: 78px;
	height: 85px;
}

.home_hero_li1 a:hover {
	color: #F5F5F5;
}

.home_hero_li1 a i {
	display: block;
	height: 70px;
	width: 1px;
	background: #665e57;
	position: absolute;
	top: 9px;
	right: 0;
	z-index: 1;
}

.home_hero_li1 a b {
	display: block;
	height: 1px;
	width: 64px;
	background: #665e57;
	position: absolute;
	bottom: 0px;
	left: 6px;
	z-index: 1;
}

.home_hero_ul li:nth-of-type(1) a span {
	font-size: 24px;
}

.home_hero_ul li:nth-of-type(1) a p {
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	color: #cfcdcb;
}

#xm_flash_wrapper {
	height: 441px;
	width: 100%;
}

.xm_flash {
	height: 441px;
}

.xm_flash h2 {
	height: 59px;
	width: 100%;
	line-height: 59px;
	font-size: 20px;
	color: #394961;
}

.xm_flash a {
	float: left;
	height: 340px;
	width: 234px;
	padding-top: 29px;
	/*border-top: 1px solid #e53935;*/
	margin-left: 14px;
	background: #fafafa;
	text-align: center;
}

.xm_flash a div {
	display: inline-block;
	height: 46px;
	width: 46px;
	font-size: 18px;
	line-height: 46px;
	background: #605751;
	text-align: center;
	color: #fff;
}

.xm_flash a b {
	text-align: center;
	font-size: 30px;
	height: 46px;
	line-height: 46px;
	width: 15px;
	color: #605751;
}

.xm_flash a img {
	height: 197px;
}

.xm_flash a p {
	height: 17px;
	line-height: 17px;
	font-size: 12px;
	color: #202020;
}

.xm_flash a span {
	height: 22px;
	line-height: 22px;
	color: #adbdd5;
	font-size: 10px;
}

.xm_flash a i {
	height: 28px;
	line-height: 28px;
	color: #fa6509;
	font-size: 12px;
}

.xm_flash a s {
	height: 28px;
	line-height: 28px;
	color: #adb3c8;
	font-size: 12px;
}

.xm_flash a:nth-of-type(1) {
	margin-left: 0;
	background: #f1eded;
}

.xm_flash a:nth-of-type(1) span {
	font-size: 20px;
	color: #ef3a3b;
	height: 81px;
	line-height: 81px;
}

.xm_flash a:nth-of-type(1) i {
	font-size: 14px;
	color: #6f6d6d;
	height: 81px;
	line-height: 81px;
}

#heisha_wrapper {
	height: 120px;
}

.heisha {
	height: 120px;
}

.heisha img {
	width: 1226px;
	height: 120px;
}
/* 手机库 */

#phone_wrapper {
	height: 694px;
	background: #f5f5f5;
}

.phone {
	height: 694px;
}

.title_h2 a {
	float: right;
	font-size: 16px;
	color: #424242;
	line-height: 60px;
}

.title_h2 a:hover {
	color: #ff6700;
}

.phone_wrap {
	width: 1226px;
	height: 614px;
	float: left;
	position: relative;
}

.mi_mix3 {
	width: 234px;
	height: 614px;
	position: absolute;
	/* top:0px; */
}

.mi_mix3 a {
	display: block;
	width: 234px;
	height: 614px;
}

.mi_mix3 a img {
	width: 234px;
	height: 614px;
}

.phoneList {
	width: 992px;
	height: 614px;
	float: right;
}

.phoneUl {
	height: 614px;
}

.phoneList ul li {
	width: 234px;
	height: 300px;
	float: left;
	/* position: absolute; */
	margin-left: 14px;
	margin-bottom: 14px;
}

.phoneList ul li a {
	display: block;
	width: 234px;
	height: 300px;
	background: #fff;
	padding-top: 20px;
	box-sizing: border-box;
}

.new {
	display: block;
	width: 64px;
	height: 20px;
	background: #83c44e;
	color: #fff;
	font-size: 10px;
	/* text-align: center; */
	line-height: 20px;
	position: absolute;
	top: 0;
	/* left: 85px; */
}

.phoneList ul li a img {
	width: 160px;
	height: 160px;
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
}

.phoneList ul li a span {
	display: block;
	text-align: center;
	line-height: 24px;
	color: #333;
	font-size: 14px;
}

.phoneList ul li a b {
	display: block;
	font-size: 12px;
	color: #b0b0b0;
	line-height: 20px;
	text-align: center;
}

.phoneList ul li a strong {
	display: block;
	text-align: center;
	color: #ff6700;
	font-size: 12px;
	line-height: 40px;
	font-weight: 900;
}
/* 小米电视广告 */
/* #mi_TV_wrap{
background: #f5f5f5;
overflow: hidden;
}
#mi_TV_wrap .mi_TV{
height:120px;
margin:42px auto;
}
.mi_TV a{
display: block;
width:1226px;
height:120px;
}
.mi_TV a img{
width:1226px;
height:120px;    
} */

/* 家电 */

#appliance_wrap {
	height: 694px;
	background: #f5f5f5;
}
/* 家电集合 */

.jd_list {
	float: left;
}

.jd_left {
	float: left;
	width: 234px;
	height: 614px;
}

.jd_left li {
	width: 234px;
	height: 300px;
}

.jd_left li:first-child {
	margin-bottom: 14px;
}

.jd_left li a {
	display: block;
	width: 234px;
	height: 300px;
}

.jd_left a img {
	width: 234px;
	height: 300px;
}

.jd_right {
	width: 992px;
	height: 614px;
	float: left;
}

.jd_right ul li {
	width: 234px;
	height: 300px;
	float: left;
	padding: 20px 15px;
	box-sizing: border-box;
	margin-left: 14px;
	margin-bottom: 14px;
	background: #fff;
}

.jd_right ul li a {
	display: block;
	/* width:194px; */
	height: 260px;
}

.jd_right ul li a img {
	display: block;
	width: 160px;
	height: 160px;
	margin: 0 auto;
}

.jd_right ul li h3 {
	font-size: 14px;
	color: #333;
	text-align: center;
	line-height: 22px;
	margin-top: 16px;
}

.jd_right ul li p:nth-of-type(1) {
	color: #b0b7cc;
	font-size: 12px;
	text-align: center;
	line-height: 18px;
}

.jd_right ul li p:nth-of-type(2) {
	color: #ff6700;
	font-size: 14px;
	text-align: center;
	margin-top: 12px;
}

.jd_right ul li p:nth-of-type(2) s {
	color: #b0b0b0;
	margin-left: 5px;
}

.jd_right ul li:last-child {
	background: #f5f5f5;
	padding: 0;
}

.jd_li_t {
	width: 234px;
	height: 143px;
	padding: 20px;
	background: #fff;
	box-sizing: border-box;
}

.jd_li_t a {
	display: block;
	margin-top: 20px;
	margin-left: 20px;
}

.jd_li_t a p {
	float: left;
	line-height: 26px;
}

.jd_li_t a p span:first-child {
	font-size: 14px;
	color: #333;
	line-height: 22px;
	text-align: left;
}

.jd_li_t a p span:last-child {
	color: #ff6700;
	font-size: 14px;
	margin-top: 12px;
	text-align: left;
	margin-top: 13px;
}

#appliance_wrap .jd_li_t a img {
	width: 80px;
	height: 80px;
	float: right;
}

.jd_li_b {
	width: 234px;
	height: 143px;
	margin-top: 14px;
	padding: 20px;
	background: #fff;
	box-sizing: border-box;
}

.jd_li_b a {
	display: block;
}

.jd_li_b a h4 {
	float: left;
	font-size: 18px;
	color: #333;
	text-align: left;
	margin-top: 30px;
}

.jd_li_b a h4 span {
	/* float: left; */
	font-size: 12px;
	color: #757575;
	text-align: left;
}

.jd_li_b a i {
	float: right;
	font-size: 50px;
	color: #ff6700;
	margin-top: 30px;
}

#smart_wrap {
	height: 694px;
	/*overflow: hidden;*/
	background: #F5F5F5;
}

#smart_wrap .jd_li_t a img {
	width: 80px;
	height: 80px;
	float: right;
}

#header {
	/* width:1916px; */
	height: 1208px;
	background: #ccc;
	position: relative;
}
/* 黑鲨手机广告 */

#mi_gg_phone {
	background: #fff;
	height: 204px;
	overflow: hidden;
}

#mi_gg_wrap .mi_gg_phone {
	margin-bottom: 42px;
	background: #fff;
}
/* 手机库 标题*/

#phone_wrapper {
	height: 694px;
}

.title_h2 {
	height: 80px;
	/*margin-top: 20px;*/
	overflow: hidden;
}

.title_h2 h2 {
	font-size: 20px;
	color: #333;
	line-height: 60px;
	float: left;
}

.title_h2 p {
	float: right;
	font-size: 14px;
	color: #333;
	line-height: 60px;
}

.title_h2 a:hover {
	color: #ff6700;
}
/* 手机库 */

.mi_mix3 {
	width: 234px;
	height: 614px;
	/* position: absolute; */
	/* top:0px; */
	float: left;
}

.mi_mix3 a {
	display: block;
	width: 234px;
	height: 614px;
}

.mi_mix3 a img {
	width: 234px;
	height: 614px;
}

.phone_ul {
	width: 992px;
	height: 614px;
	float: right;
}

.phone_ul li {
	width: 234px;
	height: 300px;
	float: left;
	position: absolute;
	margin-left: 14px;
	margin-bottom: 14px;
}

.phone_ul li a {
	display: block;
	width: 234px;
	height: 300px;
	background: #fff;
	box-sizing: border-box;
}

.new {
	display: block;
	width: 64px;
	height: 20px;
	background: #83c44e;
	color: #fff;
	font-size: 10px;
	text-align: center;
	line-height: 20px;
	margin-left: 85px;
}

.phoneList ul li a img {
	width: 160px;
	height: 160px;
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
}

.phoneList ul li a span {
	display: block;
	text-align: center;
	line-height: 24px;
	color: #333;
	font-size: 14px;
}

.phoneList ul li a b {
	display: block;
	font-size: 12px;
	color: #b0b0b0;
	line-height: 20px;
	text-align: center;
}

.phoneList ul li a strong {
	display: block;
	text-align: center;
	color: #ff6700;
	font-size: 12px;
	line-height: 40px;
	font-weight: 900;
}
/* 为你推荐 */

#recommend {
	height: 380px;
	background-color: #f5f5f5;
}

.recom {
	width: 1226px;
	padding-top: 18px;
	margin: 0 auto;
}

.recom h2 {
	font-size: 20px;
	color: #333333;
	line-height: 64px;
}

.recom ul li {
	float: left;
	width: 234px;
	height: 300px;
	margin-right: 14px;
	background: #ffffff;
	text-align: center;
}

.recom ul li:nth-child(5) {
	margin-right: 0;
}

.recom ul li img {
	display: block;
	margin: 40px 0 19px 47px;
}

.recom ul li a {
	color: #000;
}

.recom ul li b {
	color: #ff6700;
	line-height: 44px;
}
/* 热评产品 */

#buzz_box {
	height: 495px;
	background-color: #f5f5f5;
}

.buzz {
	width: 1226px;
	padding-top: 18px;
	margin: 0 auto;
}

.buzz h2 {
	font-size: 20px;
	color: #333333;
	line-height: 64px;
}

.buzz ul li {
	float: left;
	width: 296px;
	height: 415px;
	margin-right: 14px;
	background: #ffffff;
}

.buzz ul li:nth-child(4) {
	margin: 0;
}

.buzz ul li a img {
	display: block;
	width: 296px;
	height: 220px;
}

.buzz ul li div {
	width: 296px;
	height: 195px;
	padding-top: 30px;
	padding-left: 30px;
}

.buzz ul li div a {
	line-height: 22px;
	font-size: 14px;
	color: #000;
}

.buzz ul li div b {
	color: #ff6700;
}

.buzz ul li div p {
	line-height: 46px;
	color: #b0b0b0;
}
/* 内容 */

#content {
	height: 500px;
	background-color: #f5f5f5;
}

.cont {
	width: 1226px;
	padding-top: 18px;
	margin: 0 auto;
}

.cont h2 {
	font-size: 20px;
	color: #333333;
	line-height: 64px;
}

.cont div {
	float: left;
	width: 296px;
	height: 419px;
	margin-right: 14px;
	background-color: #ffffff;
	border-top: 1px solid #ffac13;
	position: relative;
	overflow: hidden;
}

.cont div h3 {
	font-size: 16px;
	text-align: center;
	color: #ffac13;
	margin-top: 46px;
}

.cont div:nth-child(3) {
	border-top: 1px solid #83c44e;
}

.cont div:nth-child(3) h3 {
	color: #83c44e;
}

.cont div:nth-child(4) {
	border-top: 1px solid #e53935;
}

.cont div:nth-child(4) h3 {
	color: #e53935;
}

.cont div:nth-child(5) {
	border-top: 1px solid #2196f3;
	margin: 0;
}

.cont div:nth-child(5) h3 {
	color: #2196f3;
}

.cont div ul {
	position: absolute;
	left: 0;
	width: 888px;
	height: 300px;
}

.cont div .lun_box1184 {
	width: 1184px;
}

.cont div ul li {
	float: left;
	width: 296px;
	height: 270px;
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	text-align: center;
}

.cont div ul li h4 {
	font-size: 18px;
	font-weight: 800;
}

.cont div ul li p {
	color: #ccc;
	line-height: 24px;
}

.cont div ul li b {
	font-size: 14px;
	font-weight: 700;
	line-height: 40px;
}

.cont div ul li a {
	display: block;
	width: 100px;
	height: 25px;
	border: 1px solid #ff6700;
	text-align: center;
	color: #ff6700;
}

.cont div ol {
	display: flex;
	align-items: center;
	position: absolute;
	top: 370px;
	left: 50%;
	transform: translate(-50%, 0);
}

.cont div ol li {
	width: 8px;
	height: 8px;
	margin: 0 15px;
	border-radius: 50%;
	background-color: #ccc;
}

.cont div ol li:hover {
	background-color: #ff6700;
}

.cont div ol .dot {
	border: 2px solid #ff6700;
	background-color: #ffffff;
}

.jiantou1 {
	display: block;
	width: 18px;
	height: 43px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0%, -50%);
	opacity: 0;
}

.jiantou2 {
	display: block;
	width: 18px;
	height: 43px;
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translate(0%, -50%);
	opacity: 0;
}

.cont div span img {
	display: block;
	width: 100%;
	height: 100%;
}

.cont div:hover span {
	opacity: 0.7;
}

.cont div span:hover {
	opacity: 1;
}
/* 视频 */

#video {
	height: 425px;
	background-color: #f5f5f5;
}

.vid {
	width: 1226px;
	padding-top: 18px;
	margin: 0 auto;
	position: relative;
}

.vid h2 {
	font-size: 20px;
	color: #333333;
	line-height: 64px;
}

.vid>a {
	font-size: 16px;
	color: #000;
	position: absolute;
	top: 40px;
	right: 16px;
}

.vid>a:hover {
	color: #ff6700;
}

.vid ul {
	display: flex;
}

.vid ul li {
	float: left;
	width: 296px;
	height: 285px;
	margin-right: 14px;
	position: relative;
	text-align: center;
	background-color: #ffffff;
}

.vid ul li:nth-child(4) {
	margin: 0;
}

.vid ul li img {
	display: block;
	width: 100%;
	height: 180px;
	margin-bottom: 30px;
}

.vid ul li a:nth-child(2) {
	color: #333;
}

.vid ul li p {
	line-height: 32px;
	color: #b0b0b0;
}

.vid ul li a:hover {
	color: #ff6700;
}

.vid ul li span {
	display: flex;
	width: 34px;
	height: 22px;
	border: 2px solid #ffffff;
	border-radius: 12px;
	position: absolute;
	top: 146px;
	left: 20px;
}

.vid ul li a:hover span {
	background-color: #ff6700;
	border-color: #ff6700;
}
/* 底部导航 */

#tabbar {
	height: 272px;
	background: #ffffff;
}

.tab {
	margin: 0 auto;
	width: 1226px;
	height: 100%;
}

.tab a {
	color: #757575;
}

.tab a:hover {
	color: #ff6700;
}

.tab_top {
	width: 100%;
	height: 79px;
	border-bottom: 1px solid #e0e0e0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tab_top ul li {
	width: 243px;
	height: 24px;
	float: left;
	text-align: center;
	border-right: 1px solid #e0e0e0;
}

.tab_top ul li:nth-child(5) {
	border: 0;
}

.tab_top ul li a {
	font-size: 14px;
	color: #616161;
}
/* .tab_top ul li a:hover{
color:#ff6700;
} */

.tab_bm ul {
	float: left;
	width: 977px;
}

.tab_bm ul li {
	float: left;
	width: 160px;
}

.tab_bm ul li h3 {
	margin-top: 40px;
	margin-bottom: 18px;
	font-size: 12px;
	color: #424242;
}

.tab_bm ul li a {
	line-height: 28px;
}

.bm_right {
	float: left;
	width: 248px;
	height: 112px;
	margin-top: 40px;
	text-align: center;
	border-left: 1px solid #e0e0e0;
}

.bm_right b {
	color: #ff6700;
	font-size: 22px;
}

.bm_right p {
	color: #616161;
	line-height: 18px;
}

.bm_right span {
	display: block;
	width: 118px;
	height: 28px;
	margin: 15px 0 0 65px;
	color: #ff6700;
	line-height: 28px;
	text-align: center;
	border: 1px solid #ff6700;
}

.bm_right span:hover {
	background-color: #ff6700;
	color: #ffffff;
}
/* 底部 */

#bottom {
	width: 100%;
	height: 232px;
	background: #fafafa;
}

.btm {
	width: 1226px;
	height: 100%;
	margin: 0 auto;
	padding-top: 30px;
	background: url(../images/bm_bg.jpg) no-repeat 400px 160px;
}

.btm a {
	font-size: 12px;
}

.btm>img {
	display: block;
	float: left;
}

.btm_right {
	float: left;
	margin-left: 10px;
	color: #b7cbe7;
}

.btm_right a {
	color: #757575;
}

.btm_right a:hover {
	color: #ff6700;
}

.btm_right p {
	line-height: 18px;
	color: #b0b0b0;
}

.btm_right p a {
	color: #b0b0b0;
}
/* 浮动效果 */

.float_box {
	position: relative;
	top: 0;
	transition: all 0.2s;
}

.float_box:hover {
	box-shadow: 2px 10px 40px #ccc;
	top: -3px;
}

.tab_bm a {
	font-size: 12px;
}

.btn:hover {
	background: #ff6700;
}